@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,200);
@import url(https://fonts.googleapis.com/css?family=Nova+Square);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Biryani:400,300,200);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,200);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);


/****************************************************************************/

/*-----------------------HEADER------------------------------*/

html {
  background-color: white;
}

a:active {
  background-color: deepskyblue;
}

a:visited {
  background-color: black;
}

#logo {
  color: purple;
  height: 0px;
}

#logo img {
  margin-top: -10px;
  height: 40px;
  margin-right: 5px;
}

#bbd_logo {
  opacity: 0.65;
}

#bbd_logo:hover {
  opacity: 1.0;
}

header {
  top: 0px;
  z-index: 5;
  width: 100%;
  position:fixed;
  font-family: 'Karla', sans-serif;
  font-weight: 100;
}


.navbar-default .navbar-nav > li > a {
  font-size: 16px;
}

.navbar-default .navbar-nav {
  text-align: center;
}

.nav.navbar-nav.navbar-left {
  position: static;
  margin-bottom: -6.5px;
}


.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  background-color: transparent;
  color: deepskyblue !important;
  font-weight: bolder;
  text-decoration: underline;
}

.navbar-brand #logo{
  display: table-cell;
  float: left;
  text-decoration: none;
}

.navbar-brand #logo:hover {
  color: deepskyblue;
}

/*-----------------------INDEX------------------------------*/

#headline {
	margin-top: 70%;
  visibility: visible;
  margin-left: -20px;
	overflow: hidden;
}


#brooke-h1 {
  font-family: 'Josefin Slab', serif;
  font-weight: bold;
  margin-left: 2em;
	font-size: 5vh;
}

#pipe {
  font-family: 'Josefin Slab', serif;
  font-weight: 300;
  color: deepskyblue;
	font-size: 6vh;
}

#ceramic-artist {
  font-family: 'Josefin Slab', serif;
  font-weight: 100;
	font-size: 6vh;
}


#main-img-div {
	height: 1200px;
	max-width: 110%;
	background-image: url("../img/firstloop1.jpg");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	margin-left: -3%;
	margin-top: -15%;
	background-repeat: no-repeat;
	overflow: noscroll;
}

footer {
   position: fixed;
	 visibility: visible;
   left: 0px;
	 margin-bottom: 3%;
   bottom: 0px;
   height: 30px;
   width: 100%;
   background: white;
	 font-family: 'Work Sans', sans-serif;
   font-size: 10px;
   font-weight: 200;
   text-align: center;
	 background-color: transparent;
}

#footer-index {
  font-size: 10px;
}


/**********CLAY GALLERY**************/

.img-responsive {
  margin-bottom: 0px;
  margin:0 0 0 0;
}

#clay-container {
  margin-top: 5px;
}

.row1 {
  margin-top: 90px !important;
}

.row {
  list-style-type: none;
  width: 100%;
  padding: 0;
  text-align: center;
}

.row .col-md-4.portfolio-item {
  display: inline-block;
  margin: auto .5em 2em 2.3em;
  position: relative;
}


#gallery_img {
  width: 250px;
  height: 270px;
  position: center;
  overflow: hidden;
  background-repeat: no-repeat !important;
}

#overlay {
  background: rgba(0,191,255,0.5);
  overflow: auto;
  text-align: center;
  vertical-align: middle;
  padding:  20px 15% 50px 2.5%;
  margin: 0 20px 0 -20px;
  position: relative;
  display: inline-block;
  opacity:0;
  height: auto;
  width: 130%;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

#large-itself {
  font-size: 54px;
}

#gallery_img:hover #overlay {
    opacity: 1;
}

#overlay_text {
  font-family:'Roboto Condensed';
  font-weight: 500;
  color: white;
  font-size: 56px;
  line-height: 80px;
  text-decoration: none !important;
}

.ovl-small #overlay_text {
  font-size: 56px;
  line-height: 90px;
}

.ovl-small #overlay {
  padding-top: 50px;
  padding-bottom: 120px;
}

.too-large #overlay_text {
  font-size: 49.75px;
}

.ovl-xsmall #overlay{
  padding-top: 100px;
  padding-bottom: 90px;
}

.ovl-xsmall #overlay_text {
  font-size: 68px;
}

.img-test {
  background-size: 250px 280px !important;
}

.ice {
  background-size: 330px 280px !important;
  background-position: -35px 0 !important;
}

#footer-clay {
  margin-top: 10px;
  width: 100%;
}

.panther {
	font-size: 60px !important;
}

/*******************SOLO CLAY************************/

.solo.container {
  margin-top: 75px;
  position: absolute;
  margin-left: 50px;
  clear: none;
}

#solo-primary.taller img{
  height: 55vh;
  width: auto;
}

#solo-primary.wider img{
  height: 350px;
  width: auto;
}

#solo-list {
  margin-top: 15px;
  margin-left: -50px;
}

#solo-list li {
  margin-right: 10px;
  display: inline;
  float: left;
}

.solo.container a:hover {
  opacity: 0.5;
}

.solo-thumb {
  height: auto;
  width: 90px;
  overflow: hidden;
}

.solo h4 {
  margin-left: 45%;
  font-family: 'Lato';
  font-weight: 300;
  margin-right: 7%;
  font-size: 18px;
}

.solo-head {
  margin-top: 100px;
}

#solo-title {
  margin-left: 45%;
  width: 50%;
  font-family: 'Lato';
  font-size: 37px;
  font-weight: 900;
  font-style: italic;
  margin-right: 7%;
  color: deepskyblue;
}

#solo-head {
  margin-bottom: 20px;
}

.modal-backdrop {
  z-index: -1;
}

.modal-body img{
  margin-top: -40px;
  margin-left: 8%;
  height: auto;
  width: 100%;
}

.btn:hover, .btn-primary:hover{
  background: none;
}

.img-buttons {
  background: none;
  height: 130px;
  width: 120px;
  border: none;
}

/************************DESIGN (MAIN)***********************************/

#design-main {
  margin-top: 50px;
  bottom: 0px;
}

.design-div {
  width: 100%;
}

#fc1 {
  height: 325px;
}

#fc1:hover, #me1:hover, #tr1:hover {
  opacity: .5;
  cursor: pointer;
}

.down-black {
  opacity: 0.2;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  height: 70px;
  width: 130px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.down-white {
  opacity: 0.2;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  height: 50px;
  width: 61px;
  margin-top: 540px !important;
  margin-right: 47.00% !important;
  right: 0;
  margin: 0 auto;*/
}

.down-black:hover, .down-white:hover {
  opacity: 1.0;
}

dl {
  padding: 8% 0 0 5%;
  margin-bottom: 30px;
  width: 60%;
}

dt, dd, .design-para {
  font-family: 'Lato', sans-serif;
}

dt {
  font-size: 32px;
  font-weight: 400;
  margin-bottom: 10px;
}

dd {
  font-size: 20px;
  font-weight: 300;
}


.design-para-white, .design-para-black {
  font-size: 2.3vh;
  font-weight: 300;
  width: 80%;
}

.design-para-black {
  color: lightgrey;
}

.design-pic {
  height: 350px;
  width: 245px;
  margin-top: 90px;
  margin-left: 68%;
  position: absolute;
}

.design-para a:active {
  color: black;
}

.project-title {
  color: dimgrey;
}

.project-title:hover {
  text-decoration: none;
}

.design-para a:visited {
  color: black;
}

.tall-room {
  margin-top: 90px;
}

#footer-design {
  margin-top: 60px;
}
/*******************INDIVIDUAL DESIGN PROJECTS***********************/

#design-solo {
  margin-top: 30px;
  bottom: 0px;
}

#design-main dl {
  margin-left: 40px;
}

.design-solo-div {
  width: 100%;
  margin-top: 80px;
}

.project-img-group {
  display: inline-block;
  float: right;
  list-style-type: none;
  margin-right: 70px;
  margin-left: 10%;
}

#d_solo_pic_1 {
  height: 200px;
  width: auto;
  margin-bottom: 50px;
}

#d_solo_pic_2 {
  height: 200px;
  width: auto;
  margin-bottom: 50px;
}

#d_solo_pic_3 {
  height: 200px;
  width: auto;
  margin-bottom: 50px;
}

#d_solo_pic_4 {
  height: 200px;
  width: auto;
}

#d_solo_pic_5, .monk_5 {
  margin-top: 50px;
  height: 200px;
  width: auto;
}

#d_solo_pic_1:hover, #d_solo_pic_2:hover, #d_solo_pic_3:hover, #d_solo_pic_4:hover, #d_solo_pic_5:hover {
  opacity: .5;
  cursor: pointer;
}

.monk_5 {

  width: 200px;
  height: 300px;
}

.design-solo-words {
  margin-left: 100px;
  width: 100%;
  font-family: 'Lato', sans-serif;
  margin-bottom: 60px;
}

.design-solo-title {
  font-size: 35px;
  font-weight: 500;
  text-align: center;
  color: darkskyblue;
}

.design-solo-info {
  font-size: 20px;
  font-weight: 300;
  line-height: 15px;
  text-align: center;
}

.design-solo-para {
  width: 60%;
  font-weight: 300;
  font-size: 15px;
}

#d_solo_pic_3.tr_pic_3 {
  height: 200px;
  width: 150px;
}

#d_solo_pic_3.fc_pic_3 {
  width: 200px;
}

.monk_img {
  margin-top: 140px;
}

.somer {
  margin-top: 30px !important;
  margin-left: -10px !important;
}

/************************ABOUT***********************************/

.about.container {
  margin-top: 90px;
  float: left;
  display: block;
}

.img-rounded {
  border-radius:100em;
  position: absolute;
  width: 315px;
  height: 305px;
  zoom: 97%;
  clear: none;
  float: left;
  margin-left: 55px;
  margin-right: 3%;
}

.img-rounded img {
  position: 8px;
}

#social-list {
  margin-left: 23% !important;
}

.social-buttons {
  border-radius: 20em;
  height: 40px;
  margin-top: 340px;
  margin-right: 5px;
}

.about.container ul{
  list-style-type: none;
}

.about.container li {
  display: inline;
  position: relative;
}

.about.container li:hover {
  opacity: .6;
}

.about-words {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 2.3vh;
	line-height: 27px;
	text-align: center;
  color: grey;
  float: right;
  width: 55%;
  margin-top: -470px;
  margin-right: -40px;
  padding-right: 70px;
  padding-left: 20px;
}


/***********************PRESS***************************/

.press.container {
  margin-top: 180px;
  margin-left: 5%;
}

.press.container ul {
  list-style-type: none;
}

.press.container li {
  font-family: 'Lato', sans-serif;
  color: black;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}

.press.container a:visited {
  color: grey;
}

.press.container a:active {
  color: lightgrey;
}


#footer-press {
  margin-top: 17%;
  bottom: 3px;
}

.footer-words {
  margin-top: 10px;
  margin-bottom: -5px;
}

#cv:hover {
  color: deepskyblue;
}

.bb_cv {
  margin-top: 2%;
  margin-left: 10%;
  margin-right: 50%;
  width: 100%;
}

.bb_cv img {
  width: 80%;
  height: auto;
}

/***********************CONTACT*********************************/

#page-wrap {
  margin-top: 80px;
  margin-left: 80px;
}

.contact-form {
	position: fixed;
	margin-top: 15%;
	margin-left: 0%;
	padding-left: 50%;
	float: right;
}

#contact-pic img{
	margin-top: 8%;
	margin-left: 5%;
	margin-bottom: 5%;
	height: 500px;
	width: auto;
	float: left;
}
