$browser-context: 16;

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

.chalk-main-view {
	text-align: center;
	.row {
		width: 100%;
		margin-top: 2em;
		div {
			#chalk-list {
				width: 80%;
				margin: 0 10%;
				position: absolute;
				text-align: center;
				li {
					width: 100%;
					.chalk-img {
						height: auto;
						width: 50%;
						margin-bottom: 5em;
						float: left;
						margin-right: 2em;
						transition: all .2s ease-in-out;
						// &:hover {
						// 	transform: scale(1.05);
						// 	cursor: pointer;
						// }
					}
					h2 {
						text-align: left;
						display: block;
						font-weight: lighter;
						font-family: "futura-pt";
						float: right;
						font-size: em(23);
						margin-right: 8em;
						line-height: em(24);
						margin-top: 1em;
						small {
							margin-bottom: 8em;
						}
					}
				}
			}
		}
	}
}

.not-selected {
	display: none;
}



////////////////////// MEDIA-QUERIES
@media (min-width: em(450)) and (max-width: em(850)) {
	#chalk-list {
		h2 {
			margin-right: 0em !important;
			font-size: em(17);
		}
	}
};

@media (max-width: em(450)) {
	#chalk-list {
		margin-top: 3em;
		margin-left: 4em !important;
		li {
			h2 {
				margin-top: -4em !important;
				margin-bottom: 5em !important;
			}
			img {
				height: auto !important;
				width: 18em !important;
			}
		}
	}
};

@media (max-width: em(595)) {
	#chalk-list {
		li {
			.chalk-img {

			}
			h2 {
				font-size: em(18) !important;
			}
		}
	}
}
