$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/**********CLAY MAIN GALLERY**************/

.clay-main-view {
  margin-top: 3em;
	margin-bottom: 3em;
	width: 100%;
	.row {
	  list-style-type: none;
	  padding: 0;
	  text-align: center;
		margin: 0 auto;
		.portfolio-item {
		  display: inline-block;
		  margin: auto 2em 2em 2.3em;
		  position: relative;
			width: em(250);
			height: em(270);
			position: center;
			overflow: hidden;
			background-repeat: no-repeat !important;
		}
	}
}

#overlay {
  background: rgba(255,255,255,0.6);
  overflow: hidden !important;
  text-align: center;
  vertical-align: middle;
  padding:  9px 15% 50px 2.5%;
  margin: 0 20px 0 -20px;
  position: relative;
  display: inline-block;
  opacity:0;
  height: auto;
  width: 130%;
  -webkit-transition: opacity .25s ease;
  -moz-transition: opacity .25s ease;
}

#overlay.short-title {
	margin-top: -2em;
}


#overlay-text {
	font-family:'futura-pt';
	font-weight: 300;
	color: hotpink;
	font-size: em(60);
	line-height: 80px;
	text-decoration: none !important;
}

#large-itself {
  font-size: 54px;
}

#clay-gallery-img:hover #overlay {
    opacity: 1;
}


.ovl-small #overlay-text {
  font-size: em(60);
  line-height: 90px;
}

.ovl-small #overlay {
  padding-top: 50px;
  padding-bottom: 120px;
}

.too-large #overlay-text {
  font-size: em(56);
	line-height: 1.5em;
}

.too-large-2 #overlay-text {
  font-size: em(56);
	line-height: 1.5em;
}

.too-large-3 #overlay-text {
  font-size: em(45);
	line-height: 1.9em;
}

.ovl-xsmall #overlay{
  padding-top: 100px;
  padding-bottom: 90px;
}

.ovl-xsmall #overlay-text {
  font-size: 68px;
}

.clay-img {
  background-size: 230px 250px !important;
	background-position: 0 0 !important;
}

.ice {
  background-size: 330px 280px !important;
  background-position: -35px 0 !important;
}

#footer-clay {
  margin-top: 10px;
  width: 100%;
}

.panther {
	font-size: 60px !important;
}

// // // // // // MEDIA-QUERIES MAIN CLAY GALLERY

@media (max-width: em(450)) {

	.clay-main-view {
		width: 100%;
		padding-top: -10em !important;
		.row {
			margin-top: -7em !important;
			text-align: center;
			margin-bottom: 0em !important;
			.portfolio-item {
				margin: 0 auto -9em auto !important;
			}
		}
	}

	#clay-gallery-img {
		margin-right: -1em !important;
		margin-left: 1em !important;
		width: 95% !important;
		height: em(575) !important;
		background-size: 90% !important;
		background-position: center center !important;
		#overlay {
			margin-top: 4.3em !important;
			padding-top: 25% !important;
			width: em(95%) !important;
			height: em(420) !important;
			padding-right: 22% !important;
			#overlay-text {
				line-height: em(40) !important;
				font-size: em(45) !important;
			}
		}
	}

}

@media (min-width: em(450)) and (max-width: em(550)) {
	.clay-main-view {
		width: 100%;
		.row {
			text-align: center;
			margin-bottom: 0em !important;
			.portfolio-item {
				margin: 0 auto 2em auto !important;
			}
		}
	}

	#clay-gallery-img {
		margin-right: -1em !important;
		margin-left: 1em !important;
		width: 95% !important;
		height: em(575) !important;
		background-size: 90% !important;
		background-position: center center !important;
		#overlay {
			width: em(95%) !important;
			height: em(575) !important;
			padding-top: 20% !important;
			padding-right: 26% !important;
			#overlay-text {
				line-height: em(40) !important;
				font-size: em(65) !important;
			}
		}
	}

	#overlay.short-title {
		margin-top: 0em !important;
	}
}

@media (min-width: em(550)) and (max-width: em(767)) {
	.clay-main-view {
		width: 100%;
		.row {
			text-align: center;
			margin-bottom: 1em !important;
			.portfolio-item {
				margin: 0 auto 2em auto !important;
			}
		}
	}

	#clay-gallery-img {
		margin-right: -1em !important;
		margin-left: 1em !important;
		width: 95% !important;
		height: em(575) !important;
		background-size: 90% !important;
		background-position: center center !important;
		#overlay {
			width: em(95%) !important;
			height: em(575) !important;
			padding-top: 10% !important;
			padding-right: 26% !important;
			#overlay-text {
				line-height: em(40) !important;
				font-size: em(65) !important;
			}
		}
	}

	#overlay.short-title {
		margin-top: 0em !important;
	}
};

@media (min-width: em(767)) and (max-width: em(991)) {
	.clay-main-view {
		width: 50%;
		.row {
			text-align: center;
			margin: 1em 4% !important;
			width: 100%;
			.portfolio-item {
				margin: 0 auto;
			}
		}
	}

	.portfolio-item {
		margin: auto 1em 2em auto !important;
	}
};

@media (min-width: em(991)) and (max-width: em(1100)) {
	.clay-main-view {
		width: 100%;
		.row {
			text-align: center;
			margin: 0 1.95em;
			.portfolio-item {
				margin: auto 4vw 2em 2.3em;
			}
		}
	}
};

@media (min-width: em(1100)) and (max-width: em(1200)) {
	.clay-main-view {
		width: 100%;
		.row {
			text-align: center;
			margin: 0 1.9em;
			.portfolio-item {
				margin: auto 3.5vw 2em 2.3em;
			}
		}
	}
};


@media (min-width: em(1600)) {
	.clay-main-view {
		margin-left: 18.5%;
		div.row {
			div {
				div.row {
					#clay-gallery-img {
						margin-right: 5em;
						a {
							#overlay {
								#overlay-text {
								}
							}
						}
					}
				}
			}
		}
	}
};

@media (min-width: em(1200)) and (max-width: em(1285)) {
	.clay-main-view {
		div.row {
			margin-left: 0.75em !important;
		}
	}
}

@media (min-width: em(1400)) and (max-width: em(1650)) {
	.portfolio-item {
		margin: auto 4vw 2em auto !important;
	}
}

@media (min-width: em(1650)) {
	.clay-main-view {
		width: 90% !important;
		.row {
			margin-left: 8% !important;
		}
	}

	.portfolio-item {
		margin: auto 6vw 2.5em auto !important;
	}
}


/**********CLAY INDIVIDUAL GALLERY**************/

.clay-individual-view {
	margin-top: 1em;
	overflow-x: hidden;
	width: 100%;
	.row {
		width: 100%;
		div {
			.clay-ind-text {
				position: fixed;
				margin-left: 4em;
				margin-top: 0em;
				float: left;
				width: 40%;
				h1 {
					font-size: em(40);
					font-weight: 100;
					font-family: "futura-pt";
					font-style: italic;
					margin-bottom: 0.15em;
				}
				h2 {
					font-size: em(20);
					font-weight: lighter;
					font-family: "futura-pt";
					margin-top: -1em;
					margin-bottom: -1.5em;
				}
			}
			.clay-ind-images {
				margin-right: 5em;
				margin-bottom: 3em;
				float: right;
				width: 55%;
				ul {
					li {
						img {
							width: 100%;
							margin-bottom: 2em;
						}
					}
				}
			}
		}
	}
}


// // // // // // MEDIA-QUERIES INDIVIDUAL CLAY

@media (max-width: em(1200)) {
	.clay-ind-text {
		h1 {
			font-size: em(25) !important;
		}
	}

	.clay-ind-images {
		margin-right: 3em !important;
	}
}

@media (max-width: em(855)) {

	.clay-ind-text {
		margin-left: 1.75em !important;
	}

	.clay-ind-images {
		padding-top: 3em !important;
	}

	.clay-individual-view {
		.row {
			div {
				.clay-ind-text {
					width: 100% !important;
					float: none;
					margin-left: 0em;
					margin-bottom: 1em;
					position: relative !important;
					clear: both;
					h1 {
					}
					h2 {
						font-size: em(20) !important;
					}
				}
				.clay-ind-images {
					width: 100% !important;
					float: none;
					margin-left: 1.2em !important;
					ul {
						li {
							img {
							}
						}
					}
				}
			}
		}
	}
}
