$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

/**********SHOP MAIN GALLERY**************/

div.shop-main-view {
  padding-top: 0;
  padding-bottom: 8rem;
  overflow-x: hidden !important;
  div.inner-shop-main {
    width: 95%;
    max-width: 85rem;
    margin-left: auto !important;
    margin-right: auto !important;
    table {
      margin-left: auto;
      margin-right: auto;
      tr {
        width: 100%;
        td {
          display: block;
          width: 20rem;
          height: 35rem;
          margin: 0;
          &.variation-3 {
            height: 23rem;
          }
          &.wider-than-tall {
            height: 20rem;
            margin-top: 1.95rem !important;
          }
          a {
            width: 100%;
            height: 100%;
            div {
              width: 100%;
              height: 100%;
              background-position: center;
              background-size: 100%;
              background-repeat: no-repeat;
              &.item-1 {
                background-image: url('/assets/img/terra-cotta.jpg');
              }
              &.item-2 {
                background-image: url('/assets/img/shadows_main.jpg');
              }
              &.item-3 {
                background-image: url('/assets/img/tubes_main.jpg');
              }
              &.item-4 {
                background-image: url('/assets/img/arches_main.jpg');
              }
              &.item-5 {
                background-image: url('/assets/img/more_is_more_main.jpg');
              }
            }
          }
          &:hover {
            opacity: 0.6;
          }
        }

      }
    }
    hr {
      width: 90%;
      max-width: 50rem;
      margin: 4rem auto -0.75rem;
      border-color: whitesmoke;
    }
    h3 {
      margin-top: 2rem !important;
      font-size: 18px !important;
      line-height: 25px;
      font-weight: 300 !important;
      font-style: italic !important;
      width: 85%;
      max-width: 47rem;
      margin-left: auto;
      margin-right: auto;
      text-align: center;
      a {
        color: #00bbff;
        &:hover {
          color: hotpink;
          cursor: pointer;
        }
      }
    }
  }
}

@media (min-width: 1100px) {
  td.wider-than-tall {
    width: 27rem !important;
  }
}

@media (min-width: 991px) and (max-width: 1100px) {
  div.shop-main-view {
    div.inner-shop-main {
      table {
        tr {
          td {
            width: 18rem !important;
            &.wider-than-tall {
              width: 25rem !important;
              height: 17rem !important;
            }
            &.smaller-piece {
              width: 20rem !important;
              height: 24rem !important;
              vertical-align: -5.5rem !important;
            }
            &.variation-3 {
              vertical-align: -2.5rem;
              width: 20rem !important;
              height: 22rem !important;
            }
            &:first-of-type {
              margin-right: 2vw;
            }
            &:last-of-type {
              margin-left: 2vw;
            }
          }
        }
      }
    }
  }
}

@media (min-width: 991px) {
  div.shop-main-view {
    div.inner-shop-main {
      max-width: 75rem;
      table {
        tr {
          td {
            display: inline-block;
            margin-top: 2rem;
            margin-bottom: 2rem;
            &.smaller-piece {
              width: 15rem !important;
              height: 23.5rem !important;
              margin-right: 2vw !important;
              margin-left: 1rem;
              vertical-align: -3rem;
            }
            &.variation-3 {
              width: 23rem;
              vertical-align: -2rem;
              &.knucks-main-view {
                margin-left: 1.5rem !important;
                width: 15rem !important;
              }
              &.last-item-second-row {
                width: 27rem !important;
              }
            }
            &:first-of-type {
              margin-right: 1.5vw;
            }
            &:last-of-type {
              margin-left: 1.5vw;
            }
          }
        }
      }

    }
  }
}

@media (max-width: 991px) {
  div.shop-main-view {
    div.inner-shop-main {
      table {
        tr {
          td {
            margin: 0 auto !important;
            width: 23rem !important;
            &.smaller-piece {
              height: 27rem !important;
              width: 18rem !important;
            }
            &.wider-than-tall {
              width: 22rem !important;
            }
            &.variation-3 {
              margin-top: 1rem !important;
              margin-bottom: 3rem !important;
              &.last-item-second-row {
                margin-top: -2.5rem !important;
                margin-bottom: -1rem !important;
              }
              &.knucks-main-view {
                height: 15rem !important;
                width: 15rem !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-height: 750px) {
  div.shop-main-view {
    div.inner-shop-main {
      hr {
        margin-top: 0.5rem !important;
      }
    }
  }
}

/**********SHOP INDIVIDUAL ITEM**************/

div.individual-sale-piece {
  padding-bottom: 8rem;
  overflow-x: hidden !important;
  div.inner-shop-indiv {
    width: 95%;
    max-width: 75rem;
    margin: 0 auto;
    div.indiv-shop-text {
      max-width: 30rem;
      width: 65%;
      margin: -2rem auto;
      h2 {
        font-size: 20px;
        font-weight: 300;
        margin-bottom: -2rem;
        &.price-for-piece {
          font-size: 18px;
          margin-bottom: 0;
        }
        &.piece-title {
          font-size: 25px;
        }
      }
      h3 {
        font-size: 16px;
        font-weight: 300;
        line-height: 27px;
        font-size: 16px;
        font-weight: 300;
        margin-top: 2.25rem;
        margin-bottom: -1rem;
      }
      hr {
        width: 75%;
        max-width: 45rem;
        border-color: whitesmoke;
        margin-top: 2.75rem;
        margin-bottom: -1.5rem;
      }
      p {
        text-align: left;
        margin-top: 0.5rem;
        a {
          button {
            font-size: 13px;
            background-color: white;
            border: 1px solid black;
            color: black;
            font-weight: 300;
            padding: 0.25rem 1.5rem 0.15rem;
            &:hover {
              background-color: #00bbff;
              color: white;
              font-weight: 500;
              border-color: transparent;
            }
            &:focus, &:active {
              outline: none;
            }
          }
        }
        &.back-to-shop {
          margin-top: 2rem;
          a {
            color: grey;
            &:hover {
              color: #00bbff;
            }
          }
        }
      }
    }
    div.indiv-item-pic {
      text-align: center;
      img {
        width: 85%;
        max-width: 35rem;
      }
    }
  }
}

@media (min-width: 1100px) {
  div.individual-sale-piece {
    div.inner-shop-indiv {
      width: 95%;
      max-width: 65rem;
      margin: 0 auto;
      div.indiv-shop-text {
        float: left;
        width: 40%;
        margin: 0 auto;
      }
      div.indiv-item-pic {
        width: 60%;
        float: right;
        &.arches-indiv-pic {
          margin-top: -8rem !important;
        }
        img {
          max-width: 30rem;
          margin-left: 9rem;
        }
      }
    }
  }
}

@media (min-width: 991px) and (max-width: 1100px) {
  div.inner-shop-indiv {
    width: 60rem !important;
    div.indiv-item-pic {
      &.wider-indiv-pic {
        img {
          margin-left: 4rem !important;
        }
      }
      &.arches-indiv-pic {
        margin-top: -8rem !important;
      }
    }
  }
}

@media (min-width: 991px) {
  div.individual-sale-piece {
    div.inner-shop-indiv {
      width: 95%;
      margin: 0 auto;
      padding-top: 8.5vh;
      &.arches-indiv, &.tubes-indiv {
        padding-top: 2.5vh !important;
      }
      div.indiv-shop-text {
        float: left;
        width: 40%;
        margin: 0 auto;
      }
      div.indiv-item-pic {
        width: 60%;
        float: right;
        &.tall-indiv-pic {
          margin-top: -7rem;
        }
        &.more-is-more-indiv {
          margin-top: 1.5rem;
        }
        img {
          max-width: 30rem;
          margin-left: 9rem;
        }
        &.wider-indiv-pic {
          margin-top: 1.5rem;
        }
      }
    }
  }
}

@media (min-width: 767px) and (max-width: 991px) {
  div.individual-sale-piece {
    div.inner-shop-indiv {
      width: 95%;
      max-width: 45rem;
      margin: 0 auto;
      padding-top: 8vh;
      div.indiv-shop-text {
        float: left;
        width: 40%;
      }
      div.indiv-item-pic {
        width: 60%;
        float: right;
        &.tall-indiv-pic {
          margin-top: -7rem;
        }
        &.arches-indiv-pic {
          margin-top: -8rem !important;
        }
        img {
          width: 25rem;
          margin: 0 4rem;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  div.individual-sale-piece {
    div.indiv-item-pic {
      &.wider-indiv-pic {
        margin-top: 2rem;
        margin-bottom: 3rem;
      }
      &.more-is-more-indiv {
        margin-top: 1rem;
        margin-bottom: 3rem;
      }
      &.arches-indiv-pic {
        margin-top: -4rem !important;
        margin-bottom: -5.5rem !important;
      }
    }
  }
}