  <div class="solo-main-container">
    <section class="solo container">
      <div class="wider solo-primary">
        <a><img src="build/assets/img/steady_ripple_1.jpg" data-toggle="modal" data-target="#myModal" alt="" /></a>
      </div>
      <ul id="solo-list">
        <li><a><img class="img-buttons btn btn-primary" data-toggle="modal" data-target="#myModal_2" src="build/assets/img/SteadyRipple_NewOnetoAdd.jpg" alt="" /></a></li>
      </ul>
    </section>
  </div>

  <div id="solo-words" class="solo container words long">
    <div class="solo-head spiky wide-list">
      <h2 id="solo-title">Steady Ripple</h2>
      <h4>Dimensions:&nbsp;&nbsp;9" x 3" x 2"</h4>
      <h4>Materials:&nbsp;&nbsp;Glazed Stoneware</h4>
      <h4>Year:&nbsp;&nbsp;2015</h4>
    </div>
  </div>

<div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- <div class="modal-content"> -->
        <div class="modal-body">
            <img src="build/assets/img/steady_ripple_1.jpg" class="img-responsive">
        </div>
    <!-- </div> -->
  </div>
</div>
<div id="myModal_2" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- <div class="modal-content"> -->
        <div class="modal-body">
            <img src="build/assets/img/SteadyRipple_NewOnetoAdd.jpg" class="img-responsive">
        </div>
    <!-- </div> -->
  </div>
</div>
