<div class="solo-main-container">
    <section class="solo container">
      <div class="taller solo-primary">
        <a  ><img src="build/assets/img/OpenMouth_1.jpg" data-toggle="modal" data-target="#myModal" alt="" /></a>
      </div>
      <ul id="solo-list">
        <li><a><img class="img-buttons btn btn-primary" data-toggle="modal" data-target="#myModal_2" src="build/assets/img/OpenMouth_2.jpg" alt="" /></a></li>
        <li><a><img class="img-buttons btn btn-primary" data-toggle="modal" data-target="#myModal_3" src="build/assets/img/OpenMouth_3.jpg" alt="" /></a></li>
        <li><a><img class="img-buttons btn btn-primary" data-toggle="modal" data-target="#myModal_4" src="build/assets/img/OpenMouth_4.jpg" alt="" /></a></li>
      </ul>
    </section>
  </div>

  <div id="solo-words" class="solo container words">
    <div class="solo-head">
      <h2 id="solo-title">The Rising</h2>
      <h4>Dimensions:&nbsp;&nbsp;10" x 10" x 9.5"</h4>
      <h4>Materials:&nbsp;&nbsp;Glazed Stoneware</h4>
      <h4>Year:&nbsp;&nbsp;2015</h4>
    </div>
  </div>

<div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- <div class="modal-content"> -->
        <div class="modal-body">
            <img src="build/assets/img/OpenMouth_1.jpg" class="img-responsive">
        </div>
    <!-- </div> -->
  </div>
</div>
<div id="myModal_2" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- <div class="modal-content"> -->
        <div class="modal-body">
            <img src="build/assets/img/OpenMouth_2.jpg" class="img-responsive">
        </div>
    <!-- </div> -->
  </div>
</div>
<div id="myModal_3" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- <div class="modal-content"> -->
        <div class="modal-body">
            <img src="build/assets/img/OpenMouth_3.jpg" class="img-responsive">
        </div>
    <!-- </div> -->
  </div>
</div>
<div id="myModal_4" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- <div class="modal-content"> -->
        <div class="modal-body">
            <img src="build/assets/img/OpenMouth_4.jpg" class="img-responsive">
        </div>
    <!-- </div> -->
  </div>
</div>
