$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

.contact-view {
	overflow-y: none;
	.row {
		.main-image {
			// height: 65vh;
			width: 100%;
			background-size: cover;
			background-position: center 1em;
			background-repeat: no-repeat;
			background-position: fixed;
			div {
				text-align: center;
			}
		}
	}
	.contact-info {
		position: fixed;
		width: 100%;
		height: auto;
		.right-info {
			padding-top: 15%;
			height: 100vh;
			background-color: hotpink;
			float: right;
			p {
				float: left;
				margin-top: 2em;
				color: white;
				font-family: "futura-pt";
				font-style: italic;
				font-size: em(23);
				text-align: left;
				margin-top: 2.6em;
				margin-bottom: 2em;
				margin-left: 1em;
				a {
					color: #00c3ff;
					&:hover {
						color: black;
						text-decoration: none;
					}
				}
			}
			#social-icons {
				margin-top: 9em;
				position: fixed;
				li {
					margin-bottom: 1em;
					display: inline-block;
					margin-right: 1.5em;
					margin-left: 0.5em;
					.social-media {
						background-color: transparent;
						&:hover {
							background-color: lightgrey;
						}
						svg {
							fill: black !important;
							path {
								&:hover {
									fill: transparent !important;
								}
							}
						}
					}
				}
			}
		}
		.left-info {
			height: 100vh;
			background-color: #00c3ff;
			color: white;
			float: right;
			padding-top: 17.75%;
			p {
				float: right;
				line-height: em(34);
				font-family: "futura-pt";
				font-style: italic;
				font-size: em(23);
				text-align: right;
				width: 50%;
				margin-bottom: 2em;
				margin-right: 1em;
			}
		}
	}
}

////////////////////// MEDIA-QUERIES
@media (max-width: em(767)) {
	.contact-info {
		overflow-y: auto;
	}

	.right-info {
		height: 50vh !important;
		p {
			margin-top: 0em !important;
			font-size: em(20) !important;
		}
		#social-icons {
			margin-top: 5em !important;
		}
	}
	.left-info {
		height: 50vh;
		p {
			margin-top: -2em !important;
			width: 80% !important;
			font-size: em(20) !important;
		}
	}
};

@media (min-width: em(991)) and (max-width: em(1200)) {
};

@media (min-width: em(1200)) and (max-width: em(1300)) {
};

@media (min-width: em(1300)) and (max-width: em(1600)) {
};

@media (min-width: em(1600)) {
};
