$browser-context: 16; // Default

@function em($pixels, $context: $browser-context) {
  @return #{$pixels/$context}em;
}

//iPad

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
	body {
		overflow-x: hidden;
	}

	#bbd-logo {
		margin-top: 1.1em !important;
	}

	#bbd-headline {
		margin-top: 2.1em;
	}

	.design-box {
		margin-left: 8em !important;
	}

	.clay-main-view {
		margin-left: 1em !important;
		.row {
		}
	}

	.contact-info {
		.right-info {
			p {
				font-size: em(18);
			}
		}
		.left-info {
			padding-top: 10em !important;
			p {
				width: 90% !important;
			}
		}
	}
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
	#bbd-logo {
		margin-top: 1.1em !important;
	}

	#bbd-headline {
		margin-top: 2.1em;
	}
}

//iPhone 6
@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : portrait) {

	.project-individual-sections {
		overflow-x: hidden !important;
		.black-section {
			overflow-x: hidden !important;
		}
		.white-section {
			overflow-x: hidden !important;
		}
	}


	.clay-main-view {
		.row {
			margin-left: -1.5em;
		}
	}

	.mdl-grid {
		margin-left: -0.75em !important;
	}

	.about-main-view {
		height: auto !important;
		overflow-x: hidden !important;
		.row {
			overflow-x: hidden !important;
			div {
				overflow-x: hidden !important;
				.about-text {
				}
				.about-image {
					width: 100vw !important;
					margin-left: -1em !important;
					margin-top: -1em !important;
					margin-bottom: 0em !important;
				}
			}
		}
	}



	.design-main-view {
		.row {
			.col-xs-12.design-box {
				margin-left: 0.75em !important;
				margin-top: 3em !important;
			}
		}
	}

	.contact-info {
		.right-info {
			p {
				font-size: em(18);
			}
		}
		.left-info {
			height: 20em !important;
			p {
				width: 90% !important;
				margin-right: 0em !important;
			}
		}
		.right-info {
			height: 18em !important;
			p {
				width: 90% !important;
				margin-left: 0em !important;
			}
			#social-icons {
				margin-top: 4.75em !important;
				margin-left: -1.25em !important;
			}
		}
	}
}

@media only screen and (min-device-width : 375px) and (max-device-width : 667px) and (orientation : landscape) {

	#bbd-logo {
		margin-top: 1.1em !important;
	}

	#bbd-headline {
		margin-top: 2.1em;
	}

	#menu-list	 {
		overflow-y: scroll;
	}

	.design-box {
		margin-bottom: 3em;
	}

	.mdl-grid {
		margin-left: 8em !important;
	}
}

//iPhone6+

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : portrait) { /* STYLES GO HERE */ }

@media only screen and (min-device-width : 414px) and (max-device-width : 736px) and (orientation : landscape) { /* STYLES GO HERE */}

//iPhone 5

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait) { /* STYLES GO HERE */ }

@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : landscape) { /* STYLES GO HERE */}
