   <div id="design-solo">
     <section id="somerville">
       <div class="design-solo-div">
         <ul class="project-img-group">
           <li><a><img id="d_solo_pic_1" src="build/assets/img//film_center_multi.jpg" data-toggle="modal" data-target="#myModal" alt="" /></a></li>
           <li><a><img id="d_solo_pic_2" src="build/assets/img//film_center_2.jpg" data-toggle="modal" data-target="#myModal_2" alt="" /></a></li>
           <li><a><img class="fc_pic_3" id="d_solo_pic_3" src="build/assets/img//film_center_3.jpg" data-toggle="modal" data-target="#myModal_3" alt="" /></a></li>
           <li><a><img class="fc_pic_3" id="d_solo_pic_4" src="build/assets/img//film_center_4.jpg" data-toggle="modal" data-target="#myModal_4" alt="" /></a></li>
           <li><a><img class="fc_pic_3" id="d_solo_pic_5" src="build/assets/img//film_center_main.jpg" data-toggle="modal" data-target="#myModal_5" alt="" /></a></li>
         </ul>
         <div class="design-solo-words">
             <h5 class="design-solo-title">SOMERVILLE FILM CENTER</h5>
             <h6 class="design-solo-info">Harvard University Graduate School of Design</h6>
             <h6 class="design-solo-info">Career Discovery Summer 2013</h6>
             <h6 class="design-solo-info">Critic: Laura Haak</h6>
             <hr>
             <p class="design-solo-para">
               The proposed site of this project currently houses a beautiful and rustic flower shop, which is a welcome respite in an area surrounded by loud traffic and congestion. After visiting this site at the beginning of this project, the following aims were immediately established: to maintain this sense of open air and to avoid, at all costs, contributing to the claustrophobia created by the busy road. As this project required spatial allocation for wide variety of activities and that a number of circulation paths be choreographed, pursuing these goals proved to be a fascinating challenge.
               <br>
               <br>
               Conceiving of this project through collage, and the act of cutting and arranging pieces of paper allowed for an early realization that working in the form of nodular spaces within a cohesive site might be the most successful method by which to achieve the aim of creating and maintaining open spaces. As the complex was to be centered on the celebration of the filmic medium, creating a structure with an illusion of movement, rhythm, and provocative perspectives were added to the list of goals. These too were further realized through collage.
               <br>
               <br>
               As this was now the third project exploring the mutations of the box, returning to some previous study models inspired the formation of the shapes that would become fundamental to the design of this complex. This idea of a box coming apart to form other, multiple boxes led to the idea of boxes coming apart and leaving absences. Strategically cutting bristol paper that would ordinarily become a formal box into a triangular piece of paper created dramatic shapes and movement when folded. The folded triangle and the half-enclosed, half-opened shape it made, allowed for seamlessly choreographing the circulation between the inside and outside.  The shape also created natural apertures and was complementary to the theme of the moving image.
               <br>
               <br>
               Movie Theatres, above all, ought to be welcoming. With this in mind, the more public and outwardly appealing areas, such as the Theatre Lobby and Cafe, were purposefully placed so that the heavy foot traffic from the west would be drawn to them. Because of the number of pedestrians coming from this direction, the negative spaces left between these physical structures are the perfect place for greenery and outdoor rest areas. That the green spaces are nested within the structures also serves to muffle the loud and abundant motor traffic.       <br>
               <br>
               The collage exercise of working with nodules also proved helpful in choreographing the general circulation of the complex. It was important that the more public, welcoming areas face the narrow part of the site, as this side featured heavier foot traffic. It was similarly crucial that those privy to the more administrative areas of the space not be subjected to the claustrophobia the complex sought to evade. These spaces, such as the Offices and the Conservation Department, were elevated so that their environment might be filled with as much light as possible. The themes of openings and enclosures were also more overtly explored through the circulation. The space designated for the Farmer’s Market, for example, has a roof but is not fully enclosed, allowing the activity to easily spill out into the sunshine.
               <br>
               <br>
               The ultimate goal of this project expanded greatly from the original aims to simply maintain light and open spaces. It evolved into seeking to create a space that welcomed people, whether they wanted to see a film, attend a gallery event, or simply rest their legs, thus intending to make the complex as dynamic as the medium of film itself.
             </p>
         </div>
       </div>
     </section>
</div>

<div id="myModal" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- <div class="modal-content"> -->
        <div class="modal-body">
            <img src="build/assets/img//film_center_multi.jpg" class="img-responsive somer">
        </div>
    <!-- </div> -->
  </div>
</div>
<div id="myModal_2" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- <div class="modal-content"> -->
        <div class="modal-body">
            <img src="build/assets/img//film_center_2.jpg" class="img-responsive somer">
        </div>
    <!-- </div> -->
  </div>
</div>
<div id="myModal_3" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- <div class="modal-content"> -->
        <div class="modal-body">
            <img src="build/assets/img//film_center_3.jpg" class="img-responsive somer">
        </div>
    <!-- </div> -->
  </div>
</div>
<div id="myModal_4" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- <div class="modal-content"> -->
        <div class="modal-body">
            <img src="build/assets/img//film_center_4.jpg" class="img-responsive">
        </div>
    <!-- </div> -->
  </div>
</div>
<div id="myModal_5" class="modal fade" tabindex="-1" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <!-- <div class="modal-content"> -->
        <div class="modal-body">
            <img src="build/assets/img//film_center_main.jpg" class="img-responsive">
        </div>
    <!-- </div> -->
  </div>
</div>
