<div class="container-fluid partial clay-individual-view">
	<div class="row">
		<div class="col-xs-12">
			<div class="clay-ind-text">
				<h1>Steady Ripple</h1>
				<h2>9" x 3" x 2"</h2>
				<h2>Glazed Stoneware</h2>
				<h2>2015</h2>
			</div>
			<div class="clay-ind-images">
				<ul>
					<li><img class="img-responsive" src="build/assets/img/steady_ripple_1.jpg" alt="clay_ind_1"></li>
					<li><img class="img-responsive" src="build/assets/img/SteadyRipple_NewOneToAdd.jpg" alt="clay_ind_2"></li>
				</ul>
			</div>
		</div>
	</div>
</div>
