<div class="container-fluid partial clay-individual-view">
	<div class="row">
		<div class="col-xs-12">
			<div class="clay-ind-text">
				<h1>To Run Through Itself</h1>
				<h2>11" x 6" x 6"</h2>
				<h2>Glazed Stoneware</h2>
				<h2>2015</h2>
			</div>
			<div class="clay-ind-images">
				<ul>
					<li><img class="img-responsive" src="build/assets/img/ToRunThroughItself_Edited.jpg" alt="clay_ind_1"></li>
					<li><img class="img-responsive" src="build/assets/img/ToRunThroughItself_Edit_2.jpg" alt="clay_ind_2"></li>
					<li><img class="img-responsive" src="build/assets/img/ThroughItself_2.jpg" alt="clay_ind_2"></li>
					<li><img class="img-responsive" src="build/assets/img/ThroughItself.jpg" alt="clay_ind_2"></li>
				</ul>
			</div>
		</div>
	</div>
</div>
