<div class="container-fluid chalk-main-view partial animated fadeIn" ng-controller="ChalkCtrl">
	<div class="row">
		<div class="col-xs-12">
			<ul id="chalk-list">
				<li>
					<img class="chalk-img" src="./assets/img/13.jpg" alt="Chalk-13" ng-click="showAdvanced($event)">
					<h2 class="animated fadeIn">
						<b>No. 13</b><br/>
						Chalk Pastel on Paper<br/>
						30" x 22"
					</h2>
				</li>
				<li>
					<img class="chalk-img" src="./assets/img/12.jpg" alt="Chalk-12" ng-click="showAdvanced($event)">
					<h2 class="animated fadeIn">
						<b>No. 12</b><br/>
						Chalk Pastel on Paper<br/>
						30" x 22"
					</h2>
				</li>
				<li>
					<img class="chalk-img" src="./assets/img/11.jpg" alt="Chalk-11" ng-click="showAdvanced($event)">
					<h2 class="animated fadeIn">
						<b>No. 11</b><br/>
						Chalk Pastel on Paper<br/>
						22.5" x 18.5"
					</h2>
				</li>
				<li>
					<img class="chalk-img" src="./assets/img/10.jpg" alt="Chalk-10" ng-click="showAdvanced($event)">
					<h2 class="animated fadeIn">
						<b>No. 10</b><br/>
						Chalk Pastel on Paper<br/>
						22" x 22"
					</h2>
				</li>
				<li>
					<img class="chalk-img" src="./assets/img/9.jpg" alt="Chalk-9" ng-click="showAdvanced($event)">
					<h2 class="animated fadeIn">
						<b>No. 9</b><br/>
						Chalk Pastel on Paper<br/>
						9.5" x 12.5"
					</h2>
				</li>
				<li>
					<img class="chalk-img" src="./assets/img/8.jpg" alt="Chalk-8" ng-click="showAdvanced($event)">
					<h2 class="animated fadeIn">
						<b>No. 8</b><br/>
						Chalk Pastel on Paper<br/>
						18" x 12"
					</h2>
				</li>
				<li>
					<img class="chalk-img" src="./assets/img/7.jpg" alt="Chalk-7" ng-click="showAdvanced($event)">
					<h2 class="animated fadeIn">
						<b>No. 7</b><br/>
						Chalk Pastel on Paper<br/>
						5" x 5"
					</h2>
				</li>
				<li>
					<img class="chalk-img" src="./assets/img/6.jpg" alt="Chalk-6" ng-click="showAdvanced($event)">
					<h2 class="animated fadeIn">
						<b>No. 6</b><br/>
						Chalk Pastel on Paper<br/>
						6" x 6"
					</h2>
				</li>
				<li>
					<img class="chalk-img" src="./assets/img/5.jpg" alt="Chalk-5" ng-click="showAdvanced($event)">
					<h2 class="animated fadeIn">
						<b>No. 5</b><br/>
						Chalk Pastel on Paper<br/>
						13.5" x 12.5"
					</h2>
				</li>
				<li>
					<img class="chalk-img" src="./assets/img/4.jpg" alt="Chalk-4" ng-click="showAdvanced($event)">
					<h2 class="animated fadeIn">
						<b>No 4</b><br/>
						Chalk Pastel on Paper<br/>
						12.5" x 10"
					</h2>
				</li>
				<li>
					<img class="chalk-img" src="./assets/img/3.jpg" alt="Chalk3" ng-click="showAdvanced($event)">
					<h2 class="animated fadeIn">
						<b>No. 3</b><br/>
						Chalk Pastel on Paper<br/>
						10.5" x 9"
					</h2>
				</li>
				<li>
					<img class="chalk-img" src="./assets/img/2.jpg" alt="Chalk-2" ng-click="showAdvanced($event)">
					<h2 class="animated fadeIn">
						<b>No. 2</b><br/>
						Chalk Pastel on Paper<br/>
						7.25" x 6.25"
					</h2>
				</li>
				<li>
					<img class="chalk-img" src="./assets/img/1.jpg" alt="Chalk-1" ng-click="showAdvanced($event)">
					<h2 class="animated fadeIn">
						<b>No. 1</b><br/>
						Chalk Pastel on Paper<br/>
						5.5" x 6"
					</h2>
				</li>
			</ul>
		</div>
	</div>
</div>
