<div class="partial container chalk-main-view">
	<div class="row">
		<div class="col-xs-12">

				<div class="col-xs-12 col-md-3 portfolio-item chalk-img" style="background:url('build/assets/img/to_flow_2.jpg')">
	            <a ui-sref="to_flow_above">
	                <div id="overlay">
	                  <span id="overlay-text">TO FLOW ABOVE ITSELF</span>
	                </div>
	            </a>
	        </div>
					<div class="col-xs-12 col-md-3 portfolio-item chalk-img" style="background:url('build/assets/img/TheRising_Thumb.jpg')">
							<a ui-sref="open_mouth">
									<div id="overlay" class="short-title">
										<span id="overlay-text">OPEN<br/>MOUTH</span>
									</div>
							</a>
					</div>
					<div class="col-xs-12 col-md-3 portfolio-item chalk-img" style="background:url('build/assets/img/HoldItselfUp_1.jpg')">
							<a ui-sref="to_stand_up">
									<div id="overlay">
										<span id="overlay-text">TO STAND UP ON ITSELF</span>
									</div>
							</a>
					</div>
					<div class="col-xs-12 col-md-3 portfolio-item chalk-img" style="background:url('build/assets/img/HoldItselfUp_1.jpg')">
							<a ui-sref="to_stand_up">
									<div id="overlay">
										<span id="overlay-text">TO STAND UP ON ITSELF</span>
									</div>
							</a>
					</div>
					<div class="col-xs-12 col-md-3 portfolio-item chalk-img" style="background:url('build/assets/img/HoldItselfUp_1.jpg')">
							<a ui-sref="to_stand_up">
									<div id="overlay">
										<span id="overlay-text">TO STAND UP ON ITSELF</span>
									</div>
							</a>
					</div>

</div>
