@import url(https://fonts.googleapis.com/css?family=Josefin+Slab:400,300);
@import url(https://fonts.googleapis.com/css?family=Lato:400,900italic,300italic,300);
@import url(https://fonts.googleapis.com/css?family=Work+Sans:400,300,200);
@import url(https://fonts.googleapis.com/css?family=Nova+Square);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300);
@import url(https://fonts.googleapis.com/css?family=Biryani:400,300,200);
@import url(https://fonts.googleapis.com/css?family=PT+Sans);
@import url(https://fonts.googleapis.com/css?family=Raleway:300,200);
@import url(https://fonts.googleapis.com/css?family=Alegreya+Sans:400,300,500);
@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
.about-main-view {
  overflow-y: none; }
  .about-main-view .row div .about-text {
    position: fixed;
    float: left;
    width: 50%;
    margin-top: 15vh;
    clear: none; }
    .about-main-view .row div .about-text p {
      width: 80%;
      font-family: "futura-pt";
      font-weight: 100;
      font-size: 1.5625em;
      text-align: center;
      margin: 0 6%; }
      .about-main-view .row div .about-text p a {
        color: hotpink !important; }
        .about-main-view .row div .about-text p a:hover {
          text-decoration: none;
          color: #00c3ff !important; }
  .about-main-view .row div .about-image {
    margin-top: -6.5em;
    margin-right: -1em;
    float: right;
    height: 101vh;
    width: 51%;
    background-image: url("../../assets/img/bb_action.jpg");
    background-position: center center;
    background-size: cover; }

@media (max-width: 59.375em) {
  .about-main-view .row div .about-text {
    position: relative !important;
    float: none;
    clear: both;
    margin-left: 1em;
    width: 90%;
    height: auto;
    margin-top: 1em; }
    .about-main-view .row div .about-text p {
      width: 100%;
      margin: 0 3%; }
  .about-main-view .row div .about-image {
    height: 35em;
    width: 120vw;
    float: none;
    margin-top: 1em;
    margin-right: 0em;
    margin-left: -4em;
    background-size: 92% !important;
    background-repeat: no-repeat;
    background-position: center 2em; } }
