.chalk-main-view {
  text-align: center; }
  .chalk-main-view .row {
    width: 100%;
    margin-top: 2em; }
    .chalk-main-view .row div #chalk-list {
      width: 80%;
      margin: 0 10%;
      position: absolute;
      text-align: center; }
      .chalk-main-view .row div #chalk-list li {
        width: 100%;
        transition: all .2s ease-in-out; }
        .chalk-main-view .row div #chalk-list li:focus, .chalk-main-view .row div #chalk-list li:active {
          border: none;
          outline: none; }
        .chalk-main-view .row div #chalk-list li .chalk-img {
          height: auto;
          width: 50%;
          margin-bottom: 5em;
          float: left;
          margin-right: 2em;
          transition: all .2s ease-in-out; }
          .chalk-main-view .row div #chalk-list li .chalk-img:focus, .chalk-main-view .row div #chalk-list li .chalk-img:active {
            border: none;
            outline: none; }
        .chalk-main-view .row div #chalk-list li h2 {
          text-align: left;
          display: block;
          font-weight: lighter;
          font-family: "futura-pt";
          float: right;
          font-size: 1.4375em;
          margin-right: 8em;
          line-height: 1.5em;
          margin-top: 0.5em; }
          .chalk-main-view .row div #chalk-list li h2 small {
            margin-bottom: 8em; }

.active img {
  outline: none;
  transform: scale(1.6);
  -webkit-transform: scale(1.6);
  -ms-transform: scale(1.6);
  margin-top: 5%;
  margin-bottom: -10em;
  margin-left: 25%; }

.active h2 {
  display: none !important; }

.active1 img {
  outline: none;
  transform: scale(1.3);
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  margin-top: 5%;
  margin-bottom: -10em;
  margin-left: 25%; }

.active1 h2 {
  display: none !important; }

.active2 img {
  outline: none;
  transform: scale(2);
  -webkit-transform: scale(2);
  -ms-transform: scale(2);
  margin-top: 5%;
  margin-bottom: -10em;
  margin-left: 25%; }

.active2 h2 {
  display: none !important; }

.active3 img {
  outline: none;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  margin-top: 5%;
  margin-bottom: -10em;
  margin-left: 25%; }

.active3 h2 {
  display: none !important; }

@media (min-width: 28.125em) and (max-width: 57.5em) {
  #chalk-list h2 {
    margin-right: 0em !important;
    font-size: 1.0625em; } }

@media (max-width: 28.125em) {
  #chalk-list {
    margin-top: 3em;
    margin-left: 4em !important; }
    #chalk-list li h2 {
      margin-top: -4em !important;
      margin-bottom: 5em !important; }
    #chalk-list li img {
      height: auto !important;
      width: 18em !important; } }

@media (max-width: 37.1875em) {
  #chalk-list li h2 {
    font-size: 1.125em !important; } }

@media (max-width: 40.625em) {
  #chalk-list li {
    pointer-events: none; }
  .active img, .active1 img, .active2 img, .active3 img {
    outline: none;
    transform: scale(1);
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    margin-top: inherit;
    margin-bottom: inherit;
    margin-left: inherit;
    pointer-events: none; }
  .active h2, .active1 h2, .active2 h2, .active3 h2 {
    display: inline-block !important;
    pointer-events: none; } }
