.chalk-main-view {
  text-align: center; }
  .chalk-main-view .row {
    width: 100%;
    margin-top: 2em; }
    .chalk-main-view .row div #chalk-list {
      width: 80%;
      margin: 0 10%;
      position: absolute;
      text-align: center; }
      .chalk-main-view .row div #chalk-list li {
        width: 100%; }
        .chalk-main-view .row div #chalk-list li .chalk-img {
          height: auto;
          width: 50%;
          margin-bottom: 5em;
          float: left;
          margin-right: 2em;
          transition: all .2s ease-in-out; }
        .chalk-main-view .row div #chalk-list li h2 {
          text-align: left;
          display: block;
          font-weight: lighter;
          font-family: "futura-pt";
          float: right;
          font-size: 1.4375em;
          margin-right: 8em;
          margin-top: 1em; }
          .chalk-main-view .row div #chalk-list li h2 small {
            margin-bottom: 8em; }

@media (min-width: 28.125em) and (max-width: 53.125em) {
  #chalk-list h2 {
    margin-right: 0em !important;
    font-size: 1.0625em; } }

@media (max-width: 28.125em) {
  #chalk-list {
    margin-top: 3em; }
    #chalk-list li h2 {
      display: none !important; }
    #chalk-list li img {
      height: 18em !important;
      width: 18em !important; } }
