/*************NG ANIMATE***********/
main {
  /* start 'enter' transition */
  /* end 'enter' transition */ }
  main.ng-enter {
    /* transition on enter for .5s */
    transition: 1s;
    /* start with opacity 0 (invisible) */
    opacity: 0; }
  main.ng-enter-active {
    /* end with opacity 1 (fade in) */
    opacity: 1; }

.layout-row.flex {
  height: 6em; }

button#sidebarButtonCase {
  margin-top: 0;
  margin-left: 2rem;
  margin-right: -0.15rem; }
  button#sidebarButtonCase:hover, button#sidebarButtonCase:focus {
    outline: none !important;
    background-color: transparent; }
  button#sidebarButtonCase i {
    margin-top: 0.3125em;
    color: black; }
    button#sidebarButtonCase i:hover {
      color: #00c3ff; }

#bbd-logo {
  height: auto;
  width: 4em;
  margin-left: -2em;
  margin-top: 0; }
  #bbd-logo:focus {
    outline: none !important; }
  #bbd-logo:hover {
    outline: none;
    opacity: 0.6; }

#bbd-headline {
  margin-top: 1.3em;
  font-size: 1.5em;
  font-family: "futura-pt", "Arial", "Helvetica", sans-serif;
  font-weight: lighter;
  color: black; }
  #bbd-headline span {
    color: #00c3ff;
    font-weight: bolder; }

#bbd-logo-open {
  height: auto;
  width: 2.5em;
  padding-top: 0.75em;
  margin: 0 0 0.25em 0; }
  #bbd-logo-open:hover {
    opacity: 0.6; }

#close-button {
  float: right;
  width: 10%;
  height: 20%;
  margin: 0;
  position: relative;
  padding: 0; }
  #close-button:hover, #close-button:focus {
    outline: none;
    background-color: transparent; }
  #close-button i {
    margin-top: 0.5em;
    margin-right: -1em;
    font-size: 2.1875em; }

md-sidenav,
md-sidenav.md-locked-open,
md-sidenav.md-closed.md-locked-open-add-active {
  min-width: 50vw !important;
  width: 50vw !important;
  max-width: 50vw !important;
  overflow-y: hidden; }

.md-primary.text-button.md-button.md-ink-ripple:hover, .md-primary.text-button.md-button.md-ink-ripple:focus {
  outline: none !important;
  background-color: transparent !important; }

.md-sidenav-left.md-whiteframe-11dp.ng-isolate-scope {
  position: fixed;
  overflow: hidden; }
  .md-sidenav-left.md-whiteframe-11dp.ng-isolate-scope md-content {
    overflow-y: hidden; }
    .md-sidenav-left.md-whiteframe-11dp.ng-isolate-scope md-content #menu-list {
      margin-top: 1em;
      text-align: center; }
      .md-sidenav-left.md-whiteframe-11dp.ng-isolate-scope md-content #menu-list li .md-primary.text-button.md-button {
        font-size: 1.9em;
        line-height: 9.5vh;
        font-family: "futura-pt";
        font-weight: 300;
        color: black; }
        .md-sidenav-left.md-whiteframe-11dp.ng-isolate-scope md-content #menu-list li .md-primary.text-button.md-button:hover {
          color: hotpink;
          background-color: none !important; }
        .md-sidenav-left.md-whiteframe-11dp.ng-isolate-scope md-content #menu-list li .md-primary.text-button.md-button:hover, .md-sidenav-left.md-whiteframe-11dp.ng-isolate-scope md-content #menu-list li .md-primary.text-button.md-button:focus {
          outline: none !important;
          background-color: transparent !important; }

@media (max-width: 26.25em) {
  button#sidebarButtonCase {
    margin-left: 2em !important; }
    button#sidebarButtonCase img {
      margin-left: 1.75em; } }

@media (max-width: 35.3125em) {
  #bbd-headline {
    margin-top: 1.5em;
    font-size: 1.3em;
    margin-left: 1rem;
    font-family: "futura-pt";
    font-weight: lighter;
    color: black; }
    #bbd-headline span {
      color: #00c3ff;
      font-weight: bolder; } }

@media (max-width: 61.9375em) {
  md-sidenav,
  md-sidenav.md-locked-open,
  md-sidenav.md-closed.md-locked-open-add-active {
    min-width: 100vw !important;
    width: 100vw !important;
    max-width: 100vw !important;
    overflow-y: hidden; } }

/*IMPORTANT MEDIA Q THAT FORCES NAVBAR TO REMAIN COLLAPSED AT ALL TIMES*/
@media (min-width: 48em) {
  .navbar-header {
    float: none; }
  .btn.navbar-toggle .collapsed {
    width: 10em;
    background: transparent; }
  .navbar-toggle {
    display: block; }
  .navbar-collapse.collapse {
    display: none !important; } }

@media (max-width: 26.25em) {
  button#sidebarButtonCase {
    margin-left: -0em !important; } }

@media (max-height: 44.375em) {
  #menu-list {
    margin-top: -1em !important; } }
