.chalk-main-view h1 {
  font-family: "futura-pt";
  font-size: 3.125em;
  margin-top: 4em;
  text-align: center;
  font-weight: lighter; }

.chalk-main-view p {
  font-family: "adobe-garamond-pro";
  font-style: italic;
  font-size: 1.25em;
  margin-top: 1em;
  text-align: center;
  font-weight: lighter; }
