.design-main-view .row {
  width: 50%; }
  .design-main-view .row .design-box {
    margin-left: 50%;
    margin-top: 8em;
    background-color: #00c3ff;
    width: 30em;
    height: 30em; }
    .design-main-view .row .design-box h1 {
      margin-top: 1em;
      color: white;
      font-size: 8em;
      padding-bottom: 0.5em;
      font-family: "futura-pt"; }
    .design-main-view .row .design-box a {
      font-family: "adobe-garamond-pro";
      font-style: italic;
      font-size: 1.375em;
      color: white; }
      .design-main-view .row .design-box a:hover {
        cursor: pointer;
        text-decoration: none;
        color: black !important; }
      .design-main-view .row .design-box a:visited {
        color: white; }
    .design-main-view .row .design-box span {
      color: hotpink;
      font-size: 1.6875em; }

.design-project-view {
  height: auto;
  margin-bottom: 20%; }
  .design-project-view div a {
    text-decoration: none; }
    .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp {
      width: 18em !important;
      height: 26em;
      margin-right: 1em;
      transition: all .2s ease-in-out;
      margin-bottom: 3em; }
      .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp:hover {
        transform: scale(1.1);
        cursor: pointer; }
      .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp:focus {
        outline: none; }
      .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp figure {
        background-color: white; }
        .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp figure img {
          height: 16em;
          width: 20em; }
      .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp .dez-card-title h1 {
        font-family: "futura-pt";
        font-size: 1.25em; }
      .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp .dez-card-text p {
        font-family: "futura-pt";
        margin-top: -1em;
        width: 100%;
        font-size: 0.875em;
        color: grey; }

.mdl-card__media > img {
  max-width: 100%; }

.project-individual-sections .row .black-section {
  background-color: black;
  height: auto;
  color: white;
  padding-left: 4em; }
  .project-individual-sections .row .black-section .design-solo-words {
    float: left;
    margin-top: 5%;
    width: 18em;
    margin-left: 3em;
    font-family: "futura-pt";
    text-align: justify; }
    .project-individual-sections .row .black-section .design-solo-words h5 {
      font-size: 1.75em; }
    .project-individual-sections .row .black-section .design-solo-words h6 {
      color: darkgrey; }
    .project-individual-sections .row .black-section .design-solo-words p {
      line-height: 1.5625em; }
  .project-individual-sections .row .black-section .project-pics {
    width: 55%;
    float: right;
    margin-right: -5em;
    margin-top: 5%;
    margin-bottom: 3%; }
    .project-individual-sections .row .black-section .project-pics li {
      display: block;
      padding-right: 3em; }
      .project-individual-sections .row .black-section .project-pics li img {
        width: 75%;
        margin-bottom: 2%; }

.project-individual-sections .row .white-section {
  background-color: white;
  height: auto;
  color: black;
  padding-left: 4em; }
  .project-individual-sections .row .white-section .design-solo-words {
    float: left;
    margin-top: 5%;
    width: 18em;
    margin-left: 3em;
    font-family: "futura-pt";
    text-align: justify; }
    .project-individual-sections .row .white-section .design-solo-words h5 {
      font-size: 1.75em; }
    .project-individual-sections .row .white-section .design-solo-words h6 {
      color: darkgrey; }
    .project-individual-sections .row .white-section .design-solo-words p {
      line-height: 1.5625em; }
  .project-individual-sections .row .white-section .project-pics {
    width: 63%;
    float: right;
    margin-left: 5em;
    margin-top: 5%;
    margin-bottom: 3%; }
    .project-individual-sections .row .white-section .project-pics li {
      display: block;
      padding-right: 3em; }
      .project-individual-sections .row .white-section .project-pics li img {
        width: 80%;
        margin-bottom: 2%; }

.up-arrow {
  z-index: 100;
  float: right;
  margin-top: 1em;
  margin-right: 2em;
  color: white;
  background-color: dimgrey; }
  .up-arrow:hover {
    color: #00c3ff; }

@media (max-width: 25em) {
  .design-main-view .row .design-box {
    margin-left: 1.5em !important; }
  .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp {
    margin-left: 2em; } }

@media (max-width: 35em) {
  .design-main-view .row .design-box {
    margin-left: 1.25em;
    width: 22em;
    height: 22em; }
    .design-main-view .row .design-box h1 {
      font-size: 7em;
      margin-bottom: -0.25em; }
    .design-main-view .row .design-box a {
      font-size: 0.9375em; }
    .design-main-view .row .design-box span {
      font-size: 0.9375em; } }

@media (max-width: 35em) {
  .project-pics li {
    display: block !important; } }

@media (min-width: 35em) and (max-width: 42.25em) {
  .design-main-view .row .design-box {
    margin-left: 34%;
    width: 25em;
    height: 25em; }
    .design-main-view .row .design-box h1 {
      font-size: 7em; }
    .design-main-view .row .design-box a {
      font-size: 0.9375em; } }

@media (min-width: 42.25em) and (max-width: 47.9375em) {
  .design-main-view .row .design-box {
    margin-left: 33%; } }

@media (max-width: 47.9375em) {
  .up-arrow {
    float: left;
    margin-top: 1em;
    margin-left: -2em; } }

@media (min-width: 47.9375em) and (max-width: 61.9375em) {
  .design-main-view .row .design-box {
    margin-left: 37%; } }

@media (max-width: 61.9375em) {
  .design-solo-words {
    width: 90% !important;
    margin-left: 0em !important; }
  .white-section .project-pics, .black-section .project-pics {
    width: 100% !important;
    float: left;
    margin-right: -10% !important;
    margin-top: 3%;
    margin-bottom: 3%; }
    .white-section .project-pics li, .black-section .project-pics li {
      display: inline-block !important;
      padding-right: 3em; }
      .white-section .project-pics li img, .black-section .project-pics li img {
        width: 80%;
        margin-bottom: 2%; } }

@media (min-width: 61.9375em) and (max-width: 65.625em) {
  .design-project-view {
    margin-left: 2%; }
    .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp {
      margin-right: 0.5em !important; } }

@media (min-width: 61.9375em) and (max-width: 75em) {
  .project-pics {
    margin-right: -8em !important;
    margin-top: 2em !important; } }

@media (min-width: 65.625em) and (max-width: 75em) {
  .design-project-view {
    margin-left: 4%; }
    .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp {
      margin-right: 0.5em !important; } }

@media (min-width: 75em) and (max-width: 81.25em) {
  .design-main-view .row .design-box {
    margin-left: 55% !important; }
  .design-project-view {
    margin-left: 8% !important; }
    .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp {
      margin-right: 3em !important; }
  .project-pics {
    margin-right: -8em !important; } }

@media (min-width: 81.25em) and (max-width: 93.75em) {
  .design-main-view .row .design-box {
    margin-left: 55% !important; }
  .design-project-view {
    margin-left: 10% !important; }
    .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp {
      margin-right: 2em !important;
      width: 20em !important;
      height: 30em; }
      .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp .dez-card-title h1 {
        margin-top: 1em;
        font-size: 1.4375em;
        color: grey; }
      .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp .dez-card-text p {
        margin-top: -1em;
        font-size: 1.125em;
        color: grey; }
  .project-pics {
    margin-top: 0em !important; } }

@media (min-width: 93.75em) {
  .design-main-view .row .design-box {
    margin-left: 57% !important; }
  .design-project-view {
    margin-left: 12%; }
    .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp {
      margin-right: 2.5em !important;
      width: 20em !important;
      height: 30em; }
      .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp .dez-card-title h1 {
        margin-top: 1em;
        font-size: 1.4375em;
        color: grey; }
      .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp .dez-card-text p {
        margin-top: -1em;
        font-size: 1.125em;
        color: grey; }
  .project-pics {
    margin-top: 4em !important;
    margin-right: -13em !important; } }

@media (min-width: 100em) {
  .design-project-view {
    margin-left: 18%; }
    .design-project-view div a .mdl-card.mdl-cell.mdl-cell--6-col.mdl-cell--4-col-tablet.mdl-shadow--4dp {
      margin-right: 2em !important; } }

@media (min-height: 39.0625em) and (max-height: 48.4375em) {
  .design-main-view .row .design-box {
    margin-top: 1em; } }

@media (min-width: 81.25em) and (min-height: 39.0625em) and (max-height: 48.4375em) {
  .design-main-view .row .design-box {
    margin-top: 2em !important; } }

@media (max-height: 39.0625em) and (max-width: 47.9375em) {
  .design-main-view .row .design-box {
    margin-left: 50%;
    margin-top: 1em;
    width: 22em;
    height: 22em; }
    .design-main-view .row .design-box h1 {
      font-size: 5em;
      margin-bottom: 0.5em; }
    .design-main-view .row .design-box a {
      font-size: 0.9375em; }
    .design-main-view .row .design-box span {
      font-size: 0.9375em; } }

@media (max-height: 39.0625em) and (min-width: 47.9375em) and (max-width: 61.9375em) {
  .design-main-view .row .design-box {
    margin-left: 55%;
    margin-top: 1em;
    width: 22em;
    height: 22em; }
    .design-main-view .row .design-box h1 {
      font-size: 5em;
      margin-bottom: 0.5em; }
    .design-main-view .row .design-box a {
      font-size: 0.9375em; }
    .design-main-view .row .design-box span {
      font-size: 0.9375em; } }

@media (max-height: 39.0625em) and (min-width: 61.9375em) {
  .design-main-view .row .design-box {
    margin-left: 65%;
    margin-top: 1em;
    width: 22em;
    height: 22em; }
    .design-main-view .row .design-box h1 {
      font-size: 5em;
      margin-bottom: 0.5em; }
    .design-main-view .row .design-box a {
      font-size: 0.9375em; }
    .design-main-view .row .design-box span {
      font-size: 0.9375em; } }

@media (max-height: 39.0625em) and (min-width: 61.9375em) and (max-width: 75em) {
  .design-main-view .row .design-box {
    margin-left: 70%;
    margin-top: 1em;
    width: 22em;
    height: 22em; }
    .design-main-view .row .design-box h1 {
      font-size: 5em;
      margin-bottom: 0.5em; }
    .design-main-view .row .design-box a {
      font-size: 0.9375em; }
    .design-main-view .row .design-box span {
      font-size: 0.9375em; } }

@media (max-height: 39.0625em) and (min-width: 81.25em) {
  .design-main-view .row .design-box {
    margin-left: 70% !important;
    margin-top: 1em;
    width: 22em;
    height: 22em; }
    .design-main-view .row .design-box h1 {
      font-size: 5em;
      margin-bottom: 0.5em; }
    .design-main-view .row .design-box a {
      font-size: 0.9375em; }
    .design-main-view .row .design-box span {
      font-size: 0.9375em; } }

@media (min-height: 46.25em) {
  .mdl-grid {
    margin-top: 10vh !important; } }
