@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  body {
    overflow-x: hidden; }
  #bbd-logo {
    margin-top: 0em !important;
    margin-left: -2em !important; }
  #sidebarButtonCase {
    width: 12%; }
  #bbd-headline {
    margin-top: 1.7em; }
  .design-box {
    margin-left: 8em !important; }
  .clay-main-view {
    margin-left: 1em !important; }
  .contact-info .right-info p {
    font-size: 1.125em; }
  .contact-info .left-info {
    padding-top: 10em !important; }
    .contact-info .left-info p {
      width: 90% !important; }
  #clay-gallery-img {
    margin-right: -1em !important;
    margin-left: 7em !important;
    width: 31.25em !important;
    height: 32.5em !important;
    background-size: cover !important;
    background-position: center center !important; }
    #clay-gallery-img #overlay {
      width: 31.875em !important;
      height: 32.5em !important;
      padding-top: 20% !important;
      padding-left: 10% !important; }
      #clay-gallery-img #overlay #overlay-text {
        line-height: 2.5em !important; }
  .dv {
    margin-right: 13em !important; } }

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  #bbd-logo {
    margin-top: 1.1em !important; }
  #bbd-headline {
    margin-top: 2.1em; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: portrait) {
  .project-individual-sections {
    overflow-x: hidden !important; }
    .project-individual-sections .black-section {
      overflow-x: hidden !important; }
    .project-individual-sections .white-section {
      overflow-x: hidden !important; }
  .clay-main-view .row {
    margin-left: -1.5em; }
  .mdl-grid {
    margin-left: -0.75em !important; }
  .about-main-view {
    height: auto !important;
    overflow-x: hidden !important; }
    .about-main-view .row {
      overflow-x: hidden !important; }
      .about-main-view .row div {
        overflow-x: hidden !important; }
        .about-main-view .row div .about-image {
          width: 100vw !important;
          margin-left: -1em !important;
          margin-top: -1em !important;
          margin-bottom: 0em !important; }
  .design-main-view .row .col-xs-12.design-box {
    margin-left: 0.75em !important;
    margin-top: 3em !important; }
  .contact-info .right-info p {
    font-size: 1.125em; }
  .contact-info .left-info {
    height: 20em !important; }
    .contact-info .left-info p {
      width: 90% !important;
      margin-right: 0em !important; }
  .contact-info .right-info {
    height: 18em !important; }
    .contact-info .right-info p {
      width: 90% !important;
      margin-left: 0em !important; }
    .contact-info .right-info #social-icons {
      margin-top: 4.75em !important;
      margin-left: -1.25em !important; }
  .chalk-main-view {
    margin-top: -4em !important; } }

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation: landscape) {
  #bbd-logo {
    margin-top: 1.1em !important; }
  #bbd-headline {
    margin-top: 2.1em; }
  #menu-list {
    overflow-y: scroll; }
  .design-box {
    margin-bottom: 3em; }
  .mdl-grid {
    margin-left: 8em !important; } }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: portrait) {
  /* STYLES GO HERE */ }

@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation: landscape) {
  /* STYLES GO HERE */ }

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: landscape) {
  /* STYLES GO HERE */ }
