@import url(https://fonts.googleapis.com/css?family=Karla:400,700);
.home-view {
  overflow: hidden; }
  .home-view .row .main-home-image {
    margin-top: 0em;
    height: 90.2vh;
    background-image: url("../../assets/img/clay_close_1_brighter.jpg");
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; }
